body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.navbar{
    width: 100%;
    height: 10vh;
}
.bodybox{
    width: 100%;
    height: calc(100vh - 10vh);
    background-color: #fff;
}
.login_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: auto;
    padding: 10px;
}
